[project]
name = "ai-marketing-assistant"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "flask>=3.1.2",
    "openai>=2.16.0",
    "python-dotenv>=1.2.1",
]
